nav {
    display: flex;
    justify-content: center; /* this shuld alighn the center of the nav TBC*/
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px; /*this should be rounded corner also tbc*/
    cursor: pointer;
    background-color: rgb(197, 197, 197);
    transition: background-color 0.2s ease; 
}nav ul {
    display: flex; /* stays as horizontal list*/
    list-style: none; /* removing the def list*/
    gap: 25px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 5px 9px;
    border-radius: 3px;
    transition: background-color 0.4s;
}
nav ul li a:hover {
    background-color: rgb(167, 167, 167); /* found syntax here as this is invalid css*/
}

text {
    display: flex;
    border-radius: 60px;
    background-color: #da0000;

}